@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* #main{
    height: 40vh;
    width: 90vw;
    border: 2px solid black;
} */

main{
    margin-left: 10px;
}


#outerdiv{
    height: 65vh;
    width: 90vw;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}

#innerdiv{
    height: 100%;
    width: 97%;
    /* border: 2px solid blue; */
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}


.heading{
    padding: 0px;
    margin: 0px;
    text-decoration: underline;
    border-width: 20%;
    font-weight: 700;
    font-size: 40px;
    line-height: 48.41px;
    font-family: 'Inter', sans-serif;
   
}
#para{
    font-family: 'Inter', sans-serif;
    font-size: 35px;
    font-weight: 400;
   
}
#foot{
    font-size: 30px;
    text-decoration: underline;
}

.trivia{
    margin-top: 20px;
    margin-bottom: 100px;
   
    padding-left: 10px;
    height: 39vh;
    width: 50vw;
    /* border: 2px solid black; */
}
.trivia li {
    font-size: 35px;
}
